.menu-icon {
    color: #757575;
    font-size: 1.5em;
    margin: 1em;
}

.sidenav {
    background: #212121;
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
}

.logo {
    color: #039BE5;
    font-family: 'Lobster', cursive;
    margin: 3em 0;
    text-align: center;
}

.mat-sidenav-content {
    background: #424242;
}